@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.hero {
    background-color: var(--main-color);
    width: 428px;
    height: 432px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(var(--hero-gradient)), url(../images/fon-desktop.jpg);
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .banner {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url('../images/fon-desktop@2x.jpg')
    }
}

