 @media screen and (min-width: 480px) {
     .container {
        max-width: 428px;
     } 
 }  

.header-list {
        display: none;
}

.header-address {
        display: none;
}

.btn-mobile-menu {
    border: none;
    background-color: inherit;
}

.mobile-menu-icon {
    stroke: #2E2F42;
} 

/* .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #3f51b5;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
} 
@media (min-rezolution) {
    
/* } */


@media screen and (max-width: 767px){
    .section {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .advantage-block {
        display: none;
    }
} 

