@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    } 
}  

@media screen and (max-width: 767px) {
    .header-list,
    .address-list,
    .header-address {
        display: none;
    }
}

.btn-mobile-menu {
    border: none;
    background-color: inherit;
    margin-left: auto;
}

.mobile-menu-icon {
    stroke: #2E2F42;
} 

@media screen and (max-width: 767px) {
    .header-list,
    .address-list,
    .header-address {
    display: none;
    }
} 


@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url('../images/fon@2x.jpg')
    }
}
@media screen and (min-width: 480px) {
.advantage-link {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
    }
}

@media screen and (min-width: 480px) {
    .advantage-title {
        text-align: center;
    }
}

@media screen and (max-width: 1159px) {
    .advantage-block {
        display: none;
    }
} 

@media screen and (max-width: 1159px) {
    .section {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .footer-logo{
        display: flex;
    }
}

@media screen and (max-width: 767px) {
     .footer-container {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 72px;
     }
}

@media screen and (max-width: 767px) {
    .footer-block {
    text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .online-form {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .button-list {
        margin-bottom: 48px;
    }
}